# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/
env/

# ==========================
# Environment variables
# ==========================
.env
.env.*
!.env.example

backend/.env

# ==========================
# Databases
# ==========================
*.sqlite3

# ==========================
# Django
# ==========================
staticfiles/
media/

# ==========================
# Node
# ==========================
node_modules/
frontend/node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build
frontend/dist/
dist/

# Vite
.vite/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db